.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 5rem;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}
