@use '../../../styles/mixins' as *;

.footer {
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.content {
	display: flex;
	flex-direction: column;
	gap: var(--gap);

	@include respond-to(sm) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.links {
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: center;

	@include respond-to(sm) {
		flex-direction: row;
	}
}

.link {
	font-size: 0.95rem;
	color: var(--footer-link-color);
	transition: color 0.3s ease;

	&:hover {
		color: var(--footer-link-color-hover);
	}
}

.poweredBy {
	display: inline-flex;
	align-items: center;
	font-size: 1rem;
	gap: 6px;
	justify-content: center;

	@include respond-to(sm) {
		justify-content: flex-start;
	}
}

.copyright {
	font-size: 14px;
	color: var(--secondary-color);
}
