@use '../../../styles/mixins' as *;

.button {
	padding: 12px;
	display: flex;
	align-items: center;
	gap: 8px;

	@include respond-to(md) {
		padding: 12px 20px;
	}
}

.text {
	display: none;

	@include respond-to(md) {
		display: inline;
	}
}

.loaderContainer {
	--default-size: 2.875rem;

	display: block;
	height: var(--height);
	width: var(--default-size);

	@include respond-to(md) {
		&.text {
			width: var(--width);
		}
	}
}
