.heatmap__cell {
	width: 100%;
	aspect-ratio: 1;
	border-radius: 2px;
	border: 1px solid var(--border-color);
	cursor: pointer;
	position: relative;

	&--hovered {
		outline: 2px solid var(--tooltip-border);
		outline-offset: -2px;
	}
}

.heatmap__tooltip {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
}
