.status {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: start;
	padding: 3px 5px;
}

.indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 6px;

	&.up {
		background-color: var(--status-up);
	}

	&.down {
		background-color: var(--status-down);
	}

	&.unknown {
		background-color: var(--status-unknown);
	}

	&.paused {
		background-color: var(--status-paused);
	}

	&.na {
		background-color: var(--status-na);
	}
}
