.logo {
	display: flex;
	align-items: center;
	gap: 6px;
}

.text {
	font-size: 1.4rem;
	color: var(--color-primary);
	font-weight: 600;

	& .highlight {
		font-weight: 700;
		color: var(--color-accent);
	}
}
