@use '../../../../../styles/mixins' as *;

.monitor-incident__wrapper {
	overflow-y: auto;
}

.incident-table {
	width: 100%;
	border-collapse: collapse;

	&__header {
		text-align: left;
		border-bottom: 1px solid var(--border-color);

		th {
			font-weight: 500;
			color: var(--secondary-color);
		}
	}

	&__row {
		border-bottom: 01px solid var(--border-color);

		&:last-child {
			border-bottom: none;
		}
	}

	&__cell {
		padding: 12px 6px;
		color: var(--color-main-text);
	}

	&__status {
		display: none;

		@include response('md') {
			display: table-cell;
		}
	}
}
