@use '../../../../styles/mixins' as *;
@use '../../../../styles/variables' as *;

.dashboard-header {
	height: $dashboard-header-height;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1200;
	width: 100%;
	background-color: var(--dashboard-header-bg);
	border-bottom: 1px solid var(--dashboard-header-border);
	box-sizing: content-box;

	&__content {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		width: 100%;
		padding: 0 20px;
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 10px;
		flex-direction: row;
		justify-content: flex-end;
		flex: 1;
	}

	&__add-button {
		padding: 12px;
		display: flex;
		align-items: center;
		gap: 8px;

		@include respond-to('md') {
			padding: 12px 20px;
		}
	}

	&__button-text {
		display: none;

		@include respond-to('md') {
			display: inline;
		}
	}
}
