.monitors-table__container {
	width: 100%;
	overflow-x: auto;
}

.monitors-table {
	width: 100%;
	border-collapse: collapse;
	overflow-x: auto;

	&__header {
		position: sticky;
		top: 0;
		z-index: 2;

		tr {
			border-top: none;
		}

		th {
			color: var(--secondary-color);
			font-size: 14px;
			letter-spacing: 0.04em;
			font-weight: 500;
		}
	}

	&__row {
		gap: 20px;
		border-top: 1px solid var(--border-color);
		padding: 10px 0;
	}

	&__cell {
		text-align: start;
		padding-right: 20px;
		max-width: 200px;
		white-space: nowrap;
		padding: 10px;
		height: 100%;

		&:first-child {
			width: 50%;
		}

		&:last-child {
			text-align: end;
		}
	}
}
