@use '../../../../styles/mixins' as *;

.monitor-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-direction: column;

	@include response('md') {
		flex-direction: row;
		align-items: center;
	}
}

.monitor-header__actions {
	display: flex;
	gap: 12px;
	flex-direction: column;
	width: 100%;
	align-items: stretch;

	@include response('sm') {
		flex-direction: row;
		align-items: center;
	}

	@include response('md') {
		width: auto;
		flex-shrink: 0;
		min-width: 300px;
	}

	&--loader {
		flex: 1;
	}
}
