@use '../../../../styles/mixins' as *;

.monitor-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.dropdownItem {
	text-align: left;
	justify-content: start;
	display: flex;
	align-items: center;
	gap: 8px;

	&.delete {
		color: var(--error-border);
	}
}

.monitorDeleteFooter {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	gap: var(--gap);
}
