@use '../../../../styles/mixins' as *;

.data-display-controls {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: start;
	justify-content: space-between;

	@include response('md') {
		flex-direction: row;
		align-items: center;
	}
}
