NODE_ENV=development
PORT=5000

ALLOWED_ORIGIN=http://localhost:3000,http://app.localhost:3000,http://status.localhost:3000,http://app.lvh.me:3000,http://app.lvh.me:3000,http://status.lvh.me:3000

MAIN_URL=http://lvh.me:3000
APP_URL=http://app.lvh.me:3000
STATUS_URL=http://status.lvh.me:3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=root
POSTGRES_PASSWORD=123456789
POSTGRES_DB=sitestatus
POSTGRES_URI=postgres://root:123456789@localhost:5433/sitestatus
DB_CA_CERT=certificate

TURSO_URI=file:./dev.db
TURSO_DATABASE_URL=http://localhost:8080
TURSO_AUTH_TOKEN=""

ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=30d
JWT_ACCESS_SECRET=your-access-token-secret
REFRESH_SECRET=your-refresh-token-secret

COOKIE_SERCRET=your-cookies-secret
COOKIE_DOMAIN=.lvh.me
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

SMTP_HOST=your-smtp-host
SMTP_PORT=your-smtp-port
SMTP_USER=your-smtp-user
SMTP_PASSWORD=your-smtp-password
MAIL_FROM_NAME=SiteStatus
MAIL_FROM_ADDRESS=noreply@your-domain.com

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/oauth/google/callback

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
GITHUB_CALLBACK_URL=http://api.lvh.me:5000/v1/oauth/github/callback

OAUTH_REDIRECT_ORIGIN=http://lvh.me:3000

WORKER_SECRET_KEY=your-worker-secret-key

ADMIN_DOCS_USER=admin
ADMIN_DOCS_PASSWORD=admin

SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://localhost;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=123;UseDevelopmentEmulator=true;

MSSQL_SA_PASSWORD=your-mssql-sa-password
