NODE_ENV=development
PORT=5000

ALLOWED_ORIGIN=http://localhost:3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=root
POSTGRES_PASSWORD=123456789
POSTGRES_DB=sitestatus
DATABASE_URL=postgres://root:123456789@localhost:5433/sitestatus
DB_CA_CERT=certificate

REDIS_USER=default
REDIS_PASSWORD=123456789
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_URI=redis://default:123456789@localhost:6380

SESSION_SECRET=your-session-secret
SESSION_MAX_AGE=30d
SESSION_NAME=session

COOKIE_SERCRET=your-cookies-secret
COOKIE_DOMAIN=localhost
COOKIE_HTTP_ONLY=true
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

SMTP_HOST=your-smtp-host
SMTP_PORT=your-smtp-port
SMTP_USER=your-smtp-user
SMTP_PASSWORD=your-smtp-password
MAIL_TO_URL=http://localhost:3000
MAIL_FROM_NAME=SiteStatus
MAIL_FROM_ADDRESS=noreply@your-domain.com

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/oauth/google/callback
