.header {
	width: 100%;
	position: sticky;
	z-index: 1200;
	height: 60px;
	background-color: var(--bg-header);
	top: 0;
	left: 0;
	border-bottom: 1px solid var(--border-color);
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
