.form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.checkboxField {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 0 8px;
}

.formActions {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}
