.container {
	display: flex;
	flex-direction: column;
}

.textarea {
	background-color: var(--input-bg);
	color: var(--input-color);
	border: 1px solid var(--input-border);
	width: 100%;
	padding: 14px 20px;
	resize: none;
	min-height: fit-content;
	font-size: 1rem;
	font-family: inherit;
	border-radius: var(--border-radius);

	&:focus-visible {
		border-color: var(--input-border-focus);
		outline: none;
	}
}

.footer {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px;
}

.error {
	border-color: var(--input-border-error);
}

.counter {
	text-align: end;
	font-size: 0.875rem;
	color: var(--color-secondary-text);
	flex: 1;
}
