.tooltip {
	position: absolute;
	background-color: var(--tooltip-bg);
	color: var(--tooltip-color);
	padding: 8px 12px;
	border-radius: 4px;
	font-size: 14px;
	z-index: 1000;
	border: 1px solid var(--tooltip-border);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
	pointer-events: none;
	gap: 3px;
	max-width: 400px;
	text-align: justify;
	max-width: 90vw;
}
