.inner {
	position: relative;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;

	&.loading {
		.content {
			opacity: 0;
		}
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	white-space: nowrap;
	opacity: 1;
}

.loader {
	position: absolute;
	top: 0;
}
