html.dark {
	/* General Colors */
	--bg-body: #0a0a0a;
	--bg-header: #0e0e0e;
	--bg-header-rgb: 10, 10, 10;
	--header-border-color: #7a7a7a30;
	--color-main-text: #ffffff;
	--color-secondary-text: #a1a1a1;
	--header-height: 70px;
	--secondary-bg: #1a1a1a;
	--border-color: #474747;
	--primary-color: #ffffff;
	--secondary-color: #c6c6c6;
	--logo: url('/logo-white.svg');
	--logo-color: #ffffff;

	/* Hero */
	--hero-grid-color: #1313138d;

	/* Values */
	--value-card-bg: #0e0e0e;
	--value-card-border: #474747;

	/* Features */
	--features-bg: #1c1b1b;
	--features-card-border: #474747;
	--features-card-icon-color: #8bd79b;

	/* Section Header */
	--section-title-color: #e8edf2;
	--section-description-color: #c1c1c1;

	/* Footer */
	--bg-footer: #121212;
	--footer-text-color: #b9bec3;
	--footer-title-color: #e8edf2;
	--footer-link-color: #8f9294;
	--footer-link-color-hover: #e8edf2;

	/* Sepator */
	--sepator-color: #333333;

	/* Errors */
	--error-bg: #ab424b57;
	--error-text: #da132b;
	--error-border: #eb2630;

	/* Cards */
	--card-bg: #1a1a1a;
	--card-border: #333333;

	/* Loader */
	--loader-color: #ffffff;
	--skeleton-color: #333333;
	--skeleton-highlight: #4d4d4d;

	/* Button Variants */
	--btn-bg-contained: #e5e5e5;
	--btn-bg-contained-hover: #e5e5e5d4;
	--btn-color-contained: #171717;

	--btn-bg-secondary: #262626;
	--btn-bg-secondary-hover: #262626cc;
	--btn-color-secondary: #fafafa;

	--btn-bg-outlined: #ffffff26;
	--btn-bg-outlined-hover: #28282833;
	--btn-border-outlined: #ffffff26;
	--btn-border-outlined-hover: #ffffff66;
	--btn-color-outlined: #0d141c;

	--btn-bg-text-hover: #26262699;
	--btn-color-text: #e8edf2;

	--btn-color-link: #e5e5e5;

	--btn-danger-bg: #ff6467;
	--btn-danger-bg-hover: #ff6467b3;
	--btn-danger-color: #ffffff;

	/* Inputs & Forms */
	--input-bg: #151515;
	--input-color: #fff;
	--input-border: #333;
	--input-border-focus: #737373;
	--input-border-error: #e7000b;
	--input-color-error: #f55d5d;
	--input-required-color: #e7000b;

	/* Status Indicators */
	--status-up: #4caf50;
	--status-down: #f44336;
	--status-unknown: #9e9e9e;
	--status-paused: #ff9800;
	--status-na: #b0b0b0;
	--status-up-hover: #4caf4f93;
	--status-down-hover: #f4433693;
	--status-unknown-hover: #9e9e9e93;

	/* Table */
	--border-color: #333333;

	/* Tooltips */
	--tooltip-bg: #f5f5f5;
	--tooltip-border: #d1d1d1;
	--tooltip-color: #111111;

	/* Dropdown */
	--dropdown-bg: #1a1a1a;
	--dropdown-item-hover-bg: #262626;
	--dropdown-item-hover-color: #e8edf2;
	--dropdown-item-disabled-color: #8f9294;

	/* Chart */
	--chart-tooltip-bg: #1a1a1a;
	--chart-tooltip-border: #333333;
	--chart-axis-color: #8f9294;
	--chart-line-color: #e5e5e5;
	--chart-dot-color: #a9a9a9;
	--chart-active-dot-color: #e5e5e5;

	/* Table */
	--table-border-color: #333;
	--table-header-text-color: #bababa;

	/* Scrollbar */
	--scrollbar-bg: #333;
	--scrollbar-thumb-bg: #666;
	--scrollbar-thumb-hover-bg: #999;

	/* Accident */
	--accident-resolved: #4caf50;
	--accident-open: #f44336;

	/* Modal */
	--modal-bg: #272727;

	/* Checkbox */
	--checkbox-bg-wrapper: #494949;
	--checkbox-bg-wrapper-active: #333333;
	--checkbox-border: #4f4f4f;
	--checkbox-input-bg: #6d6d6d;
	--checkbox-text: #fff;
	--checkbox-border-active: #ffffff;
	--checkbox-input-active-bg: #ffffff;
	--checkbox-checkmark-color: #000;

	/* Dashboard Layout */
	--dashboard-header-bg: #0e0e0e;
	--dashboard-header-border: #7a7a7a30;
	--dashboard-sidebar-bg: #1a1a1a;
	--dashboard-sidebar-border: #7a7a7a30;
	--dashboard-sidebar-link-active-bg: #262626;

	/* Project */
	--project-card-bg: #1a1a1a;
	--project-card-border: #333333;
}
