html.dark {
	/* General Colors */
	--bg-body: #0a0a0a;
	--bg-header: #0b0b0b;
	--header-border-color: #7a7a7a30;
	--color-main-text: #ffffff;
	--secondary-color: #b9bec3;
	--header-height: 70px;

	/* Loader */
	--loader-color: #ffffff;

	/* Button Variants */
	--btn-bg-contained: #e5e5e5;
	--btn-bg-contained-hover: #e5e5e5d4;
	--btn-color-contained: #171717;

	--btn-bg-secondary: #262626;
	--btn-bg-secondary-hover: #262626cc;
	--btn-color-secondary: #fafafa;

	--btn-bg-outlined: #ffffff26;
	--btn-bg-outlined-hover: #28282833;
	--btn-border-outlined: #ffffff26;
	--btn-border-outlined-hover: #ffffff66;
	--btn-color-outlined: #0d141c;

	--btn-bg-text-hover: #26262699;
	--btn-color-text: #e8edf2;

	--btn-color-link: #e5e5e5;

	--btn-danger-bg: #ff6467;
	--btn-danger-bg-hover: #ff6467b3;
	--btn-danger-color: #ffffff;

	/* Inputs & Forms */
	--input-bg: #151515;
	--input-color: #fff;
	--input-border: #333;
	--input-border-focus: #737373;
	--input-border-error: #e7000b;
	--input-color-error: #f55d5d;
}
