:root {
	/* General Colors */
	--bg-body: #f7f7f7;
	--bg-header: #ffffff;
	--header-border-color: #e5e8eb;
	--color-main-text: #0d141c;
	--secondary-color: #464f58;
	--header-height: 70px;

	/* Loader */
	--loader-color: #000;

	/* Button Variants */
	--btn-bg-contained: #171717f2;
	--btn-bg-contained-hover: #171717cc;
	--btn-color-contained: #fafafa;

	--btn-bg-secondary: #ebebeb;
	--btn-bg-secondary-hover: #ebebeb99;
	--btn-color-secondary: #171717;

	--btn-bg-outlined-hover: #f5f5f5;
	--btn-border-outlined: #e5e5e5;
	--btn-border-outlined-hover: #e5e5e5;
	--btn-color-outlined: #0d141c;

	--btn-bg-text-hover: #f5f5f5cc;
	--btn-color-text: #0d141c;

	--btn-color-link: #171717;

	--btn-danger-bg: #e7000bb3;
	--btn-danger-bg-hover: #e7000bcc;
	--btn-danger-color: #ffffff;
}
