.form {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: 100%;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.bottom {
	text-align: center;

	& a {
		text-decoration: underline;
	}
}
