@use '../../../styles/mixins' as *;

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.createProjectButton {
	padding: 12px;
	display: flex;
	align-items: center;
	gap: 8px;

	@include respond-to(sm) {
		padding: 12px 20px;
	}
}

.createProjectLabel {
	display: none;

	@include respond-to(sm) {
		display: inline;
	}
}
