.sm {
	gap: 6px;
}
.md {
	gap: 8px;
}
.lg {
	gap: 10px;
}

.padding {
	&Sm {
		padding: 6px 12px;
	}
	&Md {
		padding: 12px 20px;
	}
	&Lg {
		padding: 12px 24px;
	}
}

.iconPadding {
	&Sm {
		padding: 6px;
	}
	&Md {
		padding: 12px;
	}
	&Lg {
		padding: 12px;
	}
}
