.fullWidth {
	width: 100%;
}

.disabled {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

.rounded {
	border-radius: 50%;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.textAlignLeft {
	text-align: left;
	justify-content: flex-start;
}

.textAlignCenter {
	text-align: center;
	justify-content: center;
}

.textAlignRight {
	text-align: right;
	justify-content: flex-end;
}
