$roboto-font: 'Roboto', sans-serif;

$dashboard-header-height: 70px;
$sidebar-width: 300px;

$breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$button-variants: (
	'contained': (
		'bg': var(--btn-contained-bg),
		'color': var(--btn-contained-text),
		'border': transparent,
		'bg-hover': var(--btn-contained-bg-hover),
	),
	'outlined': (
		'bg': transparent,
		'border': var(--btn-outlined-border),
		'bg-hover': var(--btn-outlined-bg-hover),
		'border-hover': var(--btn-outlined-border-hover),
	),
	'text': (
		'bg': transparent,
		'border': transparent,
		'color': var(--btn-text-color),
		'bg-hover': var(--btn-text-bg-hover),
	),
	'link': (
		'bg': transparent,
		'border': transparent,
		'color': var(--btn-link-text),
		'text-decoration': none,
		'text-underline-offset': 6px,
		'text-decoration-hover': underline,
	),
	'secondary': (
		'bg': var(--btn-secondary-bg),
		'color': var(--btn-secondary-text),
		'border': transparent,
		'bg-hover': var(--btn-secondary-bg-hover),
	),
	'danger': (
		'bg': var(--btn-danger-bg),
		'color': var(--btn-danger-text),
		'border': transparent,
		'bg-hover': var(--btn-danger-bg-hover),
	),
);
