.uptimeBar {
	display: flex;
	flex-direction: row;
	gap: 1px;
	height: 30px;

	&Item {
		--bar-color: var(--status-unknown);
		--bar-color-hover: var(--status-unknown-hover);

		height: 100%;
		width: 8px;
		background-color: var(--bar-color);

		&:hover {
			background-color: var(--bar-color-hover);
		}
	}
}

.tooltip {
	display: flex;
	flex-direction: column;
	gap: 3px;
	align-items: center;

	&Status {
		text-transform: capitalize;
	}
}
